/* inicio (se coloca siempre) */
*{
    box-sizing: border-box;
    transform: all 0.3s ease-in-out;
}

body,html{
    margin: 0;
    padding: 0;
}


/* Objetos */


main#inicio {
    background-color: transparent;
    margin: 0;
    min-height: 100vh;
    padding: 0;
    position: relative;
    width: 100vw;
    display: flex;
    justify-content: flex-start;
    align-items: stretch;
}



/* Clases */

.caja {
    border-radius: 38px;
    height: 320px;
    padding: 36px;
    width: 320px;
}

.campo {
    background-color: transparent;
    border: none;
    border-radius: 32px;
    margin: 16px 0;
    font-size: 26px;
    padding: 21px;
    width: 83%;
}


.claro {
    background-color: #EEE;
    margin: 0;
    padding: 0;
    width: 50%;
    display: grid;
    place-items: center;
}


    .clara {
        background-color: #EEE;
        box-shadow: 9px 9px 16px #BBB,
                    -9px -9px 16px #FFF;
    }

        .clara .campo {
            box-shadow: inset 4px 4px 9px #BBB,
                        inset -4px -4px 9px #FFF;
            color: #777;
        }



.oscuro {
    background-color: #222;
    margin: 0;
    padding: 0;
    width: 50%;
    display: grid;
    place-items: center;
}


    .oscura {
        background-color: #222;
        box-shadow: 9px 9px 16px #000,
                    -9px -9px 16px rgba(51, 51, 51, 0.5);
    }

        .oscura .campo {
            box-shadow: inset 3px 3px 9px #000,
                        inset -3px -3px 9px rgba(51, 51, 51, 0.5);
            color: #666;
        }
